<div class="is-flex is-flex-direction-column is-align-items-center">
  <form class="field">
    <div class="media">
      <div class="media-left">
        <label for="login">Login:</label>
        <br>
        <label for="password">Password:</label>
      </div>
      <div class="media-right">
        <div class="control">
          <input id="login" type="text">
        </div>
        <div class="control">
          <input id="password" type="password">
        </div>
      </div>
    </div>
  </form>
  <button
    type="button"
    class="button is-link"
  >
    Log in
  </button>
</div>
